@import '~/mixins';

.todosList {
  width: 100%;
  @include flexbox($direction: column);
  row-gap: var(--padding-md);

  .header {
    @include flexbox($alignItems: center, $justifyContent: space-between);

    .controls {
      width: auto;
      @include flexbox($alignItems: center, $justifyContent: center);
      column-gap: var(--padding-md);
    }
  }

  .list {
    width: 100%;
    overflow-y: auto;
    @include flexbox($direction: column);
    row-gap: var(--padding-md);

    li {
      width: 100%;
    }
  }
}

.isScrollVissible {
  padding-right: var(--padding-md);
}
