@import '~/mixins';

.todosList {
  width: 100%;
  @include flexbox($direction: column);
  row-gap: var(--padding-md);

  .header {
    @include flexbox($alignItems: center, $justifyContent: space-between);
  }

  .list {
    width: 100%;
    overflow-y: auto;
    @include flexbox($direction: column);
    row-gap: var(--padding-md);

    li {
      width: 100%;
    }
  }
}

.isScrollVissible {
  padding-right: var(--padding-md);
}
