@import 'fonts';
@import 'themes';
@import 'reset';
@import 'variables';
@import 'mixins';

:root,
html {
  @include defaultFont();
  @include scrollbar();
}

body {
  width: 100%;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
}

main {
  margin-top: 100px;
  padding: var(--padding-md);
  @include flexbox($direction: column, $alignItems: center, $justifyContent: center);
  row-gap: var(--padding-lg);
}
